@charset "UTF-8";

@media screen and (min-width: 768px){
    body {
        background-image: linear-gradient(to bottom, #46433D, #706650);
    }

    section#login {
        width: 80%;
        height: 350px;
    }

    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#formulario {
        float: right;
        width: 65%;
    }

    div#formulario > h1 {
        font-family: var(--fonte0);
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#formulario > p {
        font-size: 1em;
    }
}



@media screen and (min-width: 993px){
    body {
        background-image: linear-gradient(to bottom, #46433D, #706650);
    }

    section#login {
        width: 950px;
        height: 410px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: left center;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    div#formulario > h1 {
        font-family: var(--fonte0);
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#formulario > p {
        font-size: 1em;
    }
}